name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with: 
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest playwright pytest-playwright
          playwright install chrome --with-deps chromium
      
      - name: Install browsers
        run: python -m playwright install chrome --with-deps
      
      - name: Run tests
        run: |
          cd cubeit
          python -m http.server 8000 &
          sleep 2
          cd ..
          pytest tests/Edgar_button.py -v
    
  